<div class="film-browser search-form">
  <div class="form-left">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="searchExpression">
    </mat-form-field>
    <button class="form-element" mat-button (click)="getFilms()">Search</button>
  </div>
  <div class="form-right">
    <mat-form-field class="form-element">
      <mat-label>Film Category</mat-label>
      <mat-select [(ngModel)]="category" (selectionChange)="changeCategorySelection()">
        <mat-option *ngFor="let c of categories" [value]="c">{{c}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rated</mat-label>
      <mat-select [(ngModel)]="filmRating" (selectionChange)="changeFilmRatingSelection()">
        <mat-option *ngFor="let r of filmRatings" [value]="r">{{r}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="film-browser-films" *ngIf="films">
  <app-film *ngFor="let film of films" [film]="film"></app-film>
</div>
