.header {
  background: rgb(0,143,255);
    background: radial-gradient(circle, rgba(0,143,255,1) 0%, rgba(59,9,121,1) 57%, rgba(2,0,36,1) 100%);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  height: 80px;
  color: #ffffff;
  box-sizing: border-box;
}

.logo-img {
  width: 120px;
  height: 120px;
  border: 2px solid white;
}

.cart-link {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart {
  width: 50px;
  height: 50px;
  border: 2px solid white;
}

.cart-number-wrapper {
  position: absolute;
  top: 17px;
  right: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
}
