.film {
  display: inline-block;
  background-color: white;
  width: 200px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.film:hover {
  box-shadow: 0px 0px 30px 1px;
}

.film-description {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
